#alumni > div {
    background-color: #FAEBCD;
    padding: 1em;
    text-align: center;
    flex-basis: 30%;
    transition: all 0.3s ease-in-out;
}

#alumni > div:hover {
    background-color: #F0D9C2;
    transform: scale(1.05);
}

#alumni img {
    width: 50%;
    border-radius: 50%;
    margin-bottom: 1em;
}